/* Variables */
:root {
    --primary-color: #4d00c9;
    --secondary-color: #6c757d;
    --background-color: #f0f0f0;
    --text-color: #333;
    --image-radius: 0.5rem;
    --zero: 0;
}

/* Global Styles */
* {
    margin: var(--zero);
    padding: var(--zero);
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans', 'Montserrat', 'Roboto', 'TikTok Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.625rem 1.25rem;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--image-radius);
}

/* Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
}

.grid-container img:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
}
.grid-container img:nth-child(2) {
    grid-area: 3 / 1 / 4 / 2;
}
.grid-container img:nth-child(3) {
    grid-area: 1 / 2 / 2 / 3;
}
.grid-container img:nth-child(4) {
    grid-area: 2 / 2 / 4 / 3;
}
.grid-container img:nth-child(5) {
    grid-area: 1 / 3 / 3 / 4;
}
.grid-container img:nth-child(6) {
    grid-area: 3 / 3 / 4 / 4;
}

/* Footer Styles */
footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 0.625rem 1.25rem;
    bottom: var(--zero);
    width: 100%;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .grid-container img:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }
    .grid-container img:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
    }
    .grid-container img:nth-child(3) {
        grid-area: 1 / 2 / 2 / 3;
     }
    .grid-container img:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
    }
    .grid-container img:nth-child(5) {
        grid-area: 3 / 1 / 4 / 2;
    }
    .grid-container img:nth-child(6) {
        grid-area: 3 / 2 / 4 / 3;
    }
}

@media only screen and (max-width: 400px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .grid-container img:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }
    .grid-container img:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
    }
    .grid-container img:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
    }
    .grid-container img:nth-child(4) {
        grid-area: 4 / 1 / 5 / 2;
    }
    .grid-container img:nth-child(5) {
        grid-area: 5 / 1 / 6 / 2;
    }
    .grid-container img:nth-child(6) {
        grid-area: 6 / 1 / 7 / 2;
    }
}